### Import

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan data frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  7  3  6  8  9
1  4  4  6  3  6
2  2  3  9  4  5
3  8  3  3  8  8
4  2  1  4  8  8
5  1  1  9  2  4
6  6  6  7  8  5
7  8  7  2  2  4
8  3  8  8  6  7
9  4  1  4  7  4

### Seleksi baris dengan between()

In [3]:
df[df['A'].between(2,5)]

   A  B  C  D  E
1  4  4  6  3  6
2  2  3  9  4  5
4  2  1  4  8  8
8  3  8  8  6  7
9  4  1  4  7  4

In [4]:
df[df['A'].between(2,5, inclusive=False)]

C:\Users\Michelle\AppData\Local\Temp/ipykernel_12920/605141249.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[df['A'].between(2,5, inclusive=False)]

   A  B  C  D  E
1  4  4  6  3  6
8  3  8  8  6  7
9  4  1  4  7  4