### Import

In [1]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Membentuk data frame dari Dictionary

In [4]:
pd.DataFrame({'col1':[1,2,3,4],
              'col2':[5,6,7,8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

### Membentuk data frame dari numpy array

In [5]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1,20,size=(n_rows,n_cols))
arr

array([[14,  5,  9],
       [ 4,  6, 15],
       [16,  5,  9],
       [ 1, 13,  9],
       [12, 17,  8]])

In [6]:
pd.DataFrame(arr,columns=tuple('ABC'))

    A   B   C
0  14   5   9
1   4   6  15
2  16   5   9
3   1  13   9
4  12  17   8

In [7]:
## "pd.DataFrame(arr)" arr adalah parameternya, diambil dari sebelumnya

### Membentuk data frame dengan memanfaatkan pandas.util.testing

In [8]:
pd.util.testing.makeDataFrame().head()

C:\Users\Michelle\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
T4oPl3L2KV -0.185849 -0.888862  1.023611  0.173943
EiTMwbaKd9  0.375988  0.657318  0.243520  0.570693
CG5OutVg1j  0.409393 -1.162748  0.055544 -2.543814
nueVT2e6Ju  0.793741 -0.038710  2.366585 -0.772342
YzdFxlDMW0 -0.166010  0.882419 -0.358704  1.064508

In [9]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [10]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -0.170212  0.297197  1.179413 -1.054323
2000-01-04  0.699946 -0.473042 -0.685527 -0.058280
2000-01-05  0.434847 -0.472183 -0.251634 -0.752784
2000-01-06 -0.506807  1.087796  0.548499 -0.018220
2000-01-07  0.999027 -1.104229  0.986358 -0.878347

In [11]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
UW3hTHA36x  0.562052  1.498080 -1.435886 -1.571697
woFofwi7G3  0.339150 -0.549144 -0.036242 -0.808893
keigp1O98h -1.089508  0.105425 -1.204631 -0.176134
KCPtA5SKOU -1.951644 -0.177283 -0.200733       NaN
ezkt8CgPFK  0.879813 -0.462981 -0.999127 -0.849236