### Import

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan data frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),
                 columns=cols)
df

    A   B   C   D  E
0  19  10  11  18  5
1  14  16  19   4  8
2   2  12  15   9  5
3   8   8   2   4  9
4  11  15  18   2  2

### Akses nilai variabel pada query()

In [3]:
df.query('A > 5')

    A   B   C   D  E
0  19  10  11  18  5
1  14  16  19   4  8
3   8   8   2   4  9
4  11  15  18   2  2

In [4]:
rerata = df['A'].mean()
rerata

10.8

In [5]:
df.query('A > @rerata')

    A   B   C   D  E
0  19  10  11  18  5
1  14  16  19   4  8
4  11  15  18   2  2