### Import

In [1]:
import pandas as pd
print(pd.__version__)

1.3.4

### Periapan data frame

In [2]:
d = {
'kode_area': [123, 456, 789, 321],
'pabrik': [4, 2, 5, 0],
'gudang': [2, 4, 7, 3]
}

df = pd.DataFrame(d)
df

   kode_area  pabrik  gudang
0        123       4       2
1        456       2       4
2        789       5       7
3        321       0       3

### Transformasi kolom menajdi baris

In [3]:
df = df.melt(id_vars='kode_area',
            var_name='jenis_bangunan',
            value_name='jumlah')
df

   kode_area jenis_bangunan  jumlah
0        123         pabrik       4
1        456         pabrik       2
2        789         pabrik       5
3        321         pabrik       0
4        123         gudang       2
5        456         gudang       4
6        789         gudang       7
7        321         gudang       3