### Import

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan data frame

In [2]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1,20, size=(n_rows, n_cols)),
                 columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df

C:\Users\Michelle\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

            col1  col2
2000-01-01     1     9
2000-01-02     2    11
2000-01-03     1    11
2000-01-04     2    14
2000-01-05     6    11
...          ...   ...
2000-12-26    14    12
2000-12-27    13    16
2000-12-28    10     4
2000-12-29     8     4
2000-12-30     6    13

[365 rows x 2 columns]

### Seleksi weekdays dan weekends

In [3]:
weekdays_df = df[df.index.dayofweek.isin([0,1,2,3,4])]
weekdays_df.head(7)

            col1  col2
2000-01-03     1    11
2000-01-04     2    14
2000-01-05     6    11
2000-01-06    13    19
2000-01-07    18     3
2000-01-10    19     9
2000-01-11     1     4

In [5]:
weekdays_df = df[df.index.dayofweek.isin([5, 6])]
weekdays_df.head(7)
### tujuh baris pertama dari weekend df

            col1  col2
2000-01-01     1     9
2000-01-02     2    11
2000-01-08    12     6
2000-01-09     7     4
2000-01-15    19    19
2000-01-16    10    13
2000-01-22    12     8