### IMPORT 
ini untuk melihat versi

In [4]:
import pandas as pd
import numpy as np

print (pd.__version__)
print (np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame

In [5]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size=(n_rows,n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  7  3  6  9  3
1  9  7  7  8  2
2  7  7  2  1  8
3  7  6  9  6  5
4  4  4  1  6  9

In [7]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

### Menyertakan Prefix Kolom

In [10]:
df.add_prefix('column_')

   column_A  column_B  column_C  column_D  column_E
0         7         3         6         9         3
1         9         7         7         8         2
2         7         7         2         1         8
3         7         6         9         6         5
4         4         4         1         6         9

### Menyertakan Suffix Kolom

In [12]:
df.add_suffix('_fields')

   A_fields  B_fields  C_fields  D_fields  E_fields
0         7         3         6         9         3
1         9         7         7         8         2
2         7         7         2         1         8
3         7         6         9         6         5
4         4         4         1         6         9