### Import

In [3]:
import pandas as pd

print(pd.__version__)

1.3.4

### Persiapan data frame

In [4]:
d = {'kolom_satu' : [1,2,3,4,5],
    'kolom_dua' : [10,20,30,40,50]}
df = pd.DataFrame(d)
df

   kolom_satu  kolom_dua
0           1         10
1           2         20
2           3         30
3           4         40
4           5         50

### Seleksi baris dengan query()

In [5]:
df.query('kolom_satu > 2')

   kolom_satu  kolom_dua
2           3         30
3           4         40
4           5         50

In [7]:
df.query('kolom_dua > 30')

   kolom_satu  kolom_dua
3           4         40
4           5         50