### Import

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan data frame

In [2]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1,99, size=(n_rows,n_cols)),
                 columns=cols)
df

   usia
0    57
1    73
2    66
3    67
4    93
5    98
6    38
7    45
8    44
9    30

### Pengelompokan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [4]:
df['kelompok_usia'] = pd.cut(df['usia'],
                            bins = [0,18,65,99],
                            labels = ['anak','dewasa','manula'])
df

   usia kelompok_usia
0    57        dewasa
1    73        manula
2    66        manula
3    67        manula
4    93        manula
5    98        manula
6    38        dewasa
7    45        dewasa
8    44        dewasa
9    30        dewasa